.fill-h {
  height: 100%;
  min-height: 100%;
}

.common-chart-wrap-container {
  width: 492px;
  height: 220px;
  padding: 10px 20px;
  position: absolute;
  color: #fff;
  background: url(~@/assets/image/chart-box-bg.png) center no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.commen-table-container {
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: $group-item-bg;
}

.common-chart-content {
  margin-top: 20px;
  padding-left: 16px;
  font-size: 14px;
  height: calc(100% - 65px);
}

// flot
.fr {
  float: right;
}

.fl {
  float: left;
}

// margin
.mt-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 10px;
}

.mt-20 {
  margin-bottom: 20px;
}

.pd-10 {
  padding: 10px;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

// flex
.flex-box {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.box-sizing {
  box-sizing: border-box;
}

.flex-align-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-align-right {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-around {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex-between {
  justify-content: space-between;
}

.flex-justify-center {
  justify-content: center;
}

.violet-txt {
  color: #7a75fc;
}

.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 文字色
.text-black {
  color: $text-black;
}

.text-dark {
  color: $text-dark;
}

.text-deep {
  color: $text-deep;
}

.text-pl {
  color: $text-pl;
}

.text-weak {
  color: $text-weak;
}

.text-white {
  color: $text-white;
}

.text-red {
  color: $text-red;
}

.text-purple {
  color: $text-purple;
}

.text-orange {
  color: $text-orange;
}

.text-blue {
  color: $text-blue;
}

.text-gray {
  // color: #7c919b;
  color: #30CCE4;
}

.text-yellow {
  // color: #FF8900;
  color: #30CCE4;
}

.text-blue-light {
  // color: #30CCE4;
  color: #FF8900;
}

//bg-color
.group-item-bg {
  background-color: $group-item-bg;
}

.data-item-bg {
  background-color: $data-item-bg;
}

//font-size
.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.box-border {
  border: 1px solid #dcdfe4;
  box-sizing: border-box;
}